<%= link_to stock_path(base_stock), class: "list-group-item" do %>
	<strong><%= base_stock.name %></strong> <span class="index-price">Current Market Price: <%= number_to_currency(base_stock.current_market_price) %></span>
<% end %>
