<div class="container" id="stack-wrapper">
  <div class="row">
    <div class="col-sm-6 front-end">
      <h1>Front End</h1>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/768px-JavaScript-logo.png" alt="">
      <img src="http://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/082014/bootstrap_0.png?itok=SQYPc-Am" alt="Bootstrap">
      <img src="http://www.bennpearson.co.uk/public/img/info/sass.svg" alt="">
      <p></p>
    </div>
    <div class="col-sm-6 back-end">
      <h1>Back End</h1>
      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" alt="">
      <img src="https://nodejs.org/static/images/logos/nodejs-green.png" alt="">
      <img src="https://www.shoeboxed.com/wp-content/themes/sbx/images/yahoo_finance_logo.png" alt="">
      <img src="https://upload.wikimedia.org/wikipedia/zh/thumb/e/ec/Heroku_logo.svg/1280px-Heroku_logo.svg.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 gems">
      <h1>Gems</h1>
      <p>Sorcery</p>
      <p>Will_Paginate</p>
      <p>yahoo_finance_lib</p>
    </div>
  </div>
</div>
