<div class="container" id="stack-wrapper">
  <div class="row">
    <div class="col-xs-12 tech-header">
      <h1>Technology Stack</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 front-end">
      <h2>Front End</h2>
      <img class="tech-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/768px-JavaScript-logo.png" alt="">
      <img class="tech-img" src="http://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/082014/bootstrap_0.png?itok=SQYPc-Am" alt="Bootstrap">
    </div>
    <div class="col-sm-6 back-end">
      <h2>Back End</h2>
      <img class="tech-img" src="https://upload.wikimedia.org/wikipedia/en/thumb/e/e9/Ruby_on_Rails.svg/791px-Ruby_on_Rails.svg.png" alt="">
      <img class="tech-img" src="https://worldvectorlogo.com/logos/nodejs-icon.svg" alt="">


    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 tech-second">
      <img class="tech-img-2 sass" src="http://www.bennpearson.co.uk/public/img/info/sass.svg" alt="">
      <img class="tech-img-2" src="https://www.shoeboxed.com/wp-content/themes/sbx/images/yahoo_finance_logo.png" alt="">
      <img class="tech-img-2" src="https://upload.wikimedia.org/wikipedia/zh/thumb/e/ec/Heroku_logo.svg/1280px-Heroku_logo.svg.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-offset-5 col-xs-2 gems">
      <h2>Gems</h2>
      <div class="gem-list">
        <img src="https://worldvectorlogo.com/logos/rubygems.svg" alt=""><p>Sorcery</p>
      </div>
      <div class="gem-list">
        <img src="https://worldvectorlogo.com/logos/rubygems.svg" alt=""><p>Will_Paginate</p>
      </div>
      <div class="gem-list">
        <img src="https://worldvectorlogo.com/logos/rubygems.svg" alt=""><p>yahoo_finance_lib</p>
      </div>
    </div>
  </div>
</div>
