// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.front-end{
  text-align: right;
}

.gems{
  text-align: center;
}

#stack-wrapper > .row .tech-img {
  max-width: 500px !important;
  height: 200px;
  margin-right: 20px;
  margin-left: 20px;

}

.tech-header {
  text-align: center;
}

.tech-second .tech-img-2{
  max-width: 300px !important;
  margin-right: 20px;
  margin-left: 20px;
}

.tech-second .sass {
  height: 200px;
  margin-left: 70px;
}

.tech-second {
  text-align: center;
}

.gems p {
  display: inline-block;
}

.gems img{
  width: 20px;
  margin-right: 5px;
}

.gems {
  text-align: left;
}
